<!DOCTYPE html>
<html>
  <head>
    <title>Inventories</title>
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

  </head>
  <body>
    <p>{{message}}</p>
    
    {% if success %}
    
    {% endif %}
    <a style="color: white; text-decoration: none;" href="/"><button type="button" class="btn btn-secondary">Go back to main</button></a>
    <a style="color: white; text-decoration: none;" href="/edit/{{ data.id }}/"><button type="button" class="btn btn-secondary">Edit Again</button></a>
  </body>
</html>