<!DOCTYPE html>
<html>
  <head>
    <title>Inventories</title>
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

  </head>
  <body>
    <p>Successfully created item!</p>
    
    <button type="button" class="btn btn-secondary"><a style="color: white; text-decoration: none;" href="/">Go back to main</a></button>
    <button type="button" class="btn btn-secondary"><a style="color: white; text-decoration: none;" href="/create/">Create Another Item</a></button>
  </body>
</html>