<!DOCTYPE html>
<html>
  <head>
    <title>Inventories</title>
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

  </head>
  <body>
    <h1 style="margin-left: 1%; margin-top: 1%;">Current Inventory</h1>
    <!-- <div class="container">
        <div class="row">
            <div class="col">Item Name</div>
            <div class="col">Quantity</div>
            <div class="col">Price</div>
            <div class="col">COGS</div>
            <div class="col">Country of Origin</div>
            <div class="col">Weight</div>
        </div>
        {% if item_list %}
            <div class="row">
            {% for item in item_list %}
                <div class="col">{{item.name}}</div>
                <div class="col">{{item.quantity}}</div>
                <div class="col">{{item.price}}</div>
                <div class="col">{{item.cogs}}</div>
                <div class="col">{{item.origin_country}}</div>
                <div class="col">{{item.weight}}</div>
            {% endfor %}
            </div>
        {% else %}
            <p>No items are available.</p>
        {% endif %}
    </div> -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">COGS</th>
                <th scope="col">Country of Origin</th>
                <th scope="col">Weight</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if item_list %}
            {% for item in item_list %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.cogs}}</td>
                <td>{{item.origin_country}}</td>
                <td>{{item.weight}}</td>
                <td><a href="/edit/{{ item.id }}/" style="color: #0d6efd; cursor: pointer;">Update</a></td>
                <td><a style="color: #dc3545; cursor: pointer;">Delete</a></td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <th>No items are available.</th>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </body>
</html>