<!DOCTYPE html>
<html>
  <head>
    <title>Inventories</title>
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

  </head>
  <body>
    <h1 style="margin-left: 1%; margin-top: 1%;">Current Inventory</h1>
    <button type="button" class="btn btn-primary btn-lg"><a style="color: white; text-decoration: none;" href="/create/">Create Item</a></button>
    <button type="button" class="btn btn-primary btn-lg"><a style="color: white; text-decoration: none;" href="/deleted/">View Deleted Items</a></button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">COGS</th>
                <th scope="col">Country of Origin</th>
                <th scope="col">Weight</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if data %}
            {% for item in data %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.cogs}}</td>
                <td>{{item.origin_country}}</td>
                <td>{{item.weight}}</td>
                <td><a href="/edit/{{item.id}}/" style="color: #0d6efd; cursor: pointer;">Update</a></td>
                <td><a href="/remove/{{item.id}}/" style="color: #dc3545; cursor: pointer;">Delete</a></td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <th>{{message}}</th>
                </tr>
            {% endif %}
        </tbody>
    </table>
  </body>
</html>